# PlatformIO
**/.pio/
**/.pioenvs/
**/.vscode/.browse.c_cpp.db*
**/.vscode/launch.json
**/.vscode/ipch

# ROS 2 工作空间过滤
**/build/
**/install/
**/log/


#python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/

# 系统与编辑器文件
.DS_Store
.vscode/ipch/


